<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySchoolLabel" jhiTranslate="doctorzApp.school.home.createOrEditLabel">Create or edit a School</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!school.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="school.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doctorzApp.school.schoolName" for="field_schoolName">School Name</label>
            <input type="text" class="form-control" name="schoolName" id="field_schoolName"
                [(ngModel)]="school.schoolName" required/>
            <div [hidden]="!(editForm.controls.schoolName?.dirty && editForm.controls.schoolName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.schoolName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doctorzApp.school.area" for="field_area">Area</label>
            <input type="text" class="form-control" name="area" id="field_area"
                [(ngModel)]="school.area" required/>
            <div [hidden]="!(editForm.controls.area?.dirty && editForm.controls.area?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.area?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doctorzApp.school.city" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                [(ngModel)]="school.city" required/>
            <div [hidden]="!(editForm.controls.city?.dirty && editForm.controls.city?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.city?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doctorzApp.school.pin" for="field_pin">Pin</label>
            <input type="text" class="form-control" name="pin" id="field_pin"
                [(ngModel)]="school.pin" required/>
            <div [hidden]="!(editForm.controls.pin?.dirty && editForm.controls.pin?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.pin?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doctorzApp.school.state" for="field_state">State</label>
            <input type="text" class="form-control" name="state" id="field_state"
                [(ngModel)]="school.state" required/>
            <div [hidden]="!(editForm.controls.state?.dirty && editForm.controls.state?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.state?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doctorzApp.school.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="school.address" required/>
            <div [hidden]="!(editForm.controls.address?.dirty && editForm.controls.address?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.address?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doctorzApp.school.country" for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country"
                [(ngModel)]="school.country" required/>
            <div [hidden]="!(editForm.controls.country?.dirty && editForm.controls.country?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.country?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doctorzApp.school.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="school.email" required/>
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="doctorzApp.school.user_school_mapping" for="field_user_school_mapping">User School Mapping</label>
            <select class="form-control" id="field_user_school_mapping" multiple name="user_school_mapping" [(ngModel)]="school.user_school_mappings" required>
                <option [ngValue]="getSelected(school.user_school_mappings, userOption)" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.user_school_mapping?.dirty && editForm.controls.user_school_mapping?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.user_school_mapping?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
