<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myStudentLabel" jhiTranslate="doctorzApp.student.home.createOrEditLabel">Create or edit a Student</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!student.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="student.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doctorzApp.student.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="student.firstName" required minlength="2" maxlength="20"/>
            <div [hidden]="!(editForm.controls.firstName?.dirty && editForm.controls.firstName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.firstName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.firstName?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                   This field is required to be at least 2 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.firstName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doctorzApp.student.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="student.lastName" required minlength="2" maxlength="20"/>
            <div [hidden]="!(editForm.controls.lastName?.dirty && editForm.controls.lastName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastName?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                   This field is required to be at least 2 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doctorzApp.student.dob" for="field_dob">Dob</label>
            <div class="input-group">
                <input id="field_dob" type="text" class="form-control" name="dob" ngbDatepicker  #dobDp="ngbDatepicker" [(ngModel)]="student.dob"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dobDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doctorzApp.student.gender" for="field_gender">Gender</label>
            <input type="text" class="form-control" name="gender" id="field_gender"
                [(ngModel)]="student.gender" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doctorzApp.student.contactNo" for="field_contactNo">Contact No</label>
            <input type="text" class="form-control" name="contactNo" id="field_contactNo"
                [(ngModel)]="student.contactNo" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doctorzApp.student.age" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                [(ngModel)]="student.age" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doctorzApp.student.parentFirstName" for="field_parentFirstName">Parent First Name</label>
            <input type="text" class="form-control" name="parentFirstName" id="field_parentFirstName"
                [(ngModel)]="student.parentFirstName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doctorzApp.student.parentLastName" for="field_parentLastName">Parent Last Name</label>
            <input type="text" class="form-control" name="parentLastName" id="field_parentLastName"
                [(ngModel)]="student.parentLastName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doctorzApp.student.highRiskTag" for="field_highRiskTag">High Risk Tag</label>
            <input type="text" class="form-control" name="highRiskTag" id="field_highRiskTag"
                [(ngModel)]="student.highRiskTag" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doctorzApp.student.studentClass" for="field_studentClass">Student Class</label>
            <input type="text" class="form-control" name="studentClass" id="field_studentClass"
                [(ngModel)]="student.studentClass" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doctorzApp.student.division" for="field_division">Division</label>
            <input type="text" class="form-control" name="division" id="field_division"
                [(ngModel)]="student.division" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doctorzApp.student.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                [(ngModel)]="student.status" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doctorzApp.student.school" for="field_school">School</label>
            <select class="form-control" id="field_school" name="school" [(ngModel)]="student.school"  required>
                <option *ngIf="!editForm.value.school" [ngValue]="null" selected></option>
                <option [ngValue]="schoolOption.id === student.school?.id ? student.school : schoolOption" *ngFor="let schoolOption of schools; trackBy: trackSchoolById">{{schoolOption.schoolName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.school?.dirty && editForm.controls.school?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.school?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
